a {
    font-family: $title_font;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 15px;
    color: #004289;
    font-weight: 500;
    transition: 0.5s;

    &:hover {
        color: $hover_color;
    }
}

.blue-btn {
    @include homeLinkButton;
    background-color: $hover_color;
    transition: $page_common_transition;

    &:hover {
        background-color: transparent;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
    }
}

.transparent-btn {
    @include homeLinkButton;
    border: 1px solid #FFFFFF;
    transition: $page_common_transition;

    &:hover {
        background-color: $hover_color;
        border: none;
        color: #FFFFFF;
    }
}