$paragraph_font: 'Open Sans', sans-serif;
$title_font: 'Montserrat', sans-serif;
$section_side_padding: 0 40px;
$section_bottom_padding: 60px;
$page_common_transition: 0.5s all ease-in-out;
$hover_color: #007BFF;
$breakpoints : (
"small": 0,
"medium": 576px,
"large": 768px,
"xlarge": 992px,
"xxlarge": 1200px
);

